<%- include header %>

<!-- Jumbotron -->
      <div class="jumbotron">
          <h3>System dedicated to issuing transcripts</h3>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="/home/profile" role="button">View profile</a></p>
        </div>

<!-- Jumbotron -->
<%- include footer %>